body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    background: #ccc
	
a
    color: #0069FF
 
#container
    width: 90%
    margin: 0 auto
    padding: 40px 20px
    background: #fff
    box-shadow: 1px 3px 3px #333
    border-radius: 5px

#logo
    text-align: center

#display
    margin: 20px 0 50px

#userbar
    margin-bottom: 10px

label
    margin-left:20px
    margin-right:5px
    font-size:12px
    background:#f7f7f7
    padding: 4px 10px
    float: left
    clear: right
    width: 100px
    border:1px solid #cccccc
    vertical-align: middle

input[type="text"]
    height:22px
    padding-left:10px
    padding-right:10px
    border:1px solid #cccccc
    vertical-align: middle


#Activity 
  display: none
  position: absolute
  width: 70%
  padding: 10px
  background: #eeeeee
  color: #000000
  border: 1px solid #1a1a1a
  font-size: 90%
