#container
    #logo
        img(src='/images/logo.png')
    #display
        include userbar
            
        div
            table
                thead
                    - each itemfk in fieldkeys
                        th= itemfk
                tbody
                    -for (var id in items)
                        - var item = items[id]
                        tr
                         - each itemf in fieldkeys
                                td= item[itemf]

            ul#employees

            form#myForm 
                div.Template_Name(style='display: none')
                    input(type='text', id='employee_name', value='name')
                    input(type='text', id='employee_salary', value='salary')
                div.Template_Exercise(style='display: none')
                    input(type='text', id='employee_name', value='Exercise')
                    input(type='text', id='employee_salary', value='Sets')
                    
                div
                    input(type='button', name='Exercise', value='add another exercise', class="btnAdd" )
                    input(type='button', name='Exercise', value='remove exercise', class="btnDel" )
                    input(type='button', name='Name', value='add another name', class="btnAdd" )
                    input(type='button', name='Name', value='remove name', class="btnDel" )
                    input(type='button', id='save', value='Save')