#container
    #logo
        img(src='/images/logo.png')
    #display
        include userbar
            
        div
            input(type='Button', id='AddAct', value='Add Activity')
            
            
            div(id='Activity',style='display: none',)
                form#myForm
                    input(type='submit', id='save', value='Save')
                    div(Class='ActivityBlock_T', style='display: none')
                        input(type='button', class='AddNeut', value='Add note Field', data-field='note_area', data-area='note', data-limit='1')
                        input(type='button', class='AddNeut', value='Add exercise Field', data-field='exercise_area', data-area='exercise', data-limit='1')
                        input(type='button', class='RemNeut noterem', value='Remove note Field', data-field='note_area', data-area='note', data-limit='0',  disabled='disabled')
                        input(type='button', class='RemNeut exerciserem', value='Remove exercise Field', data-field='exercise_area', data-area='exercise', data-limit='0', disabled='disabled' )
                        ul(class='activity')
                                li(class='activity', style='display: none')
                                    label Activity
                                    input(type='text', name='activity.name', value='Name', disabled='disabled')
                                    input(type='text', class='datefield', disabled='disabled' )
                        ul(class='note')
                                li(class='note_T', style='display: none')
                                    label Note
                                    input(type='text', name='activity.note[i]', value='Note', disabled='disabled')
                        ul(class='exercise')
                                li(class='exercise_T', style='display: none')
                                    label Exercise                            
                                    input(type='text', name='activity.exercise[i].name', value='Name', disabled='disabled')
                                    input(type='text', name='activity.exercise[i].sets', value='Sets', disabled='disabled', class='numericonly')
                                    input(type='text', name='activity.exercise[i].reps', value='Reps', disabled='disabled')
                                    input(type='text', name='activity.exercise[i].weight', value='Weight', disabled='disabled')
                                
           ul#employees
        
                    
